#menu {
  display: inline;
  width: 100px
}
li {
  background-color: skyblue;
  width: 100px
}
li:hover {
  background-color: darkblue;
  color: white;
}
a {
  text-decoration: none;
}
a:visited:hover {
  background-color: darkblue;
  color: white;
}
